<!DOCTYPE html>
<html lang="en">
<head>
	<title>wicd-webui</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
</head>

<body>
	<div class="container" style="margin-top:10px;">
		<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="configModalLabel"></h4>
					</div>
					<form id="configModalForm">
						<div class="modal-body" id="configModalText">

							<input type="hidden" id="configModalNetworkId" name="networkid">
							<div class="form-group">
								<label for="configModalESSID">ESSID</label>
								<input type="text" class="form-control" id="configModalESSID" name="wicd-essid" placeholder="Network ESSID">
							</div>
							<div class="form-group">
								<label for="configModalEncryption">Encryption</label>
								<p class="help-block" id="configModalEncryptionMethod"></p>
								<select id="configModalEncryption" name="wicd-enctype" class="form-control selectpicker">
									<option value="">None</option>
									<option data-divider="true"></option>
									<option value="wpa">WPA 1/2 (Hex [0-9/A-F])</option>
									<option value="wpa-psk">WPA 1/2 (Passphrase)</option>
									<option data-divider="true"></option>
									<option value="wep-hex">WEP (Hex [0-9/A-F])</option>
									<option value="wep-passphrase">WEP (Passphrase)</option>
								</select>
								<input type="password" class="form-control" id="configModalPassword" name="passkey" placeholder="Password">
								<p class="help-block">Passphrase or hex key depending on the encryption type selected.</p>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading text-center"><a href="https://github.com/fopina/wicd-webui">wicd WebUI</a></div>
			<div class="panel-body text-center" id="current_network">
				<p></p>
			</div>
			<div class="alert alert-info" role="alert">Hi, this is an Alert!</div>
			<!-- Table -->
			<div class="table-responsive">
				<table class="table text-center" id="network-table">
					<thead>
						<tr>
							<th class="text-center">ESSID</th>
							<th class="text-center">Encryption</th>
							<th class="text-center">Quality</th>
							<th class="text-center"><a href="javascript:scan_networks();"><span class="glyphicon glyphicon-refresh"></span></a></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.json.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/wicd.js') }}"></script>
</body>
</html>
